doctype html
html(lang="de")
  head
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/normalize.css")
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title HHU MAIL REALY
  body
    h1 HHU Mail-Relay!
    
    .mycontainer
      .navbar
        .nav-pills
          ul.nav.nav-pills
            li
              a(href="/") Erfolgreiche Mails
            li
              a(href="/errors") Fehlgeschlagene Mails
            //li
              //a(href="#warnings") Warnungen
          .inhalt 
            h3 Erfolgreiche Mails:
            table.table.table-striped
              thead
                tr
                  th qid
                  //-th size
                  th date
                  //-th host
                  th from
                  th pid
                  th to
                  th relay
                  th delay
                  th delays
                  th dsn
                  th status
                  //-th message-id
                  //-th dsnQid
                  //-th statistics
                  //-th uid
                  th prog
                  //-th forwardedAs
              tbody
                script.
                  var logRecords = !{logRecords};
                ul
                  for item in logRecords.reverse()
                    tr
                      td(scope="row")= item.qid
                      //-th= item.size
                      td= item.date
                      //-th= item.host
                      td= item.from
                      td= item.pid
                      td= item.to
                      td= item.relay
                      td= item.delay
                      td= item.delays
                      td= item.dsn
                      td= item.status
                      //-th= item.message-id
                      //-th= item.dsnQid
                      //-th= item.statistics
                      //-th= item.uid
                      td= item.prog                      
                      //-th= item.forwardedAs
      .scope
      .footer